/*CSS tag styling*/
nav {
	height: 75px;
	background-color: #2B2A3B;
}

main {
	font-family: 'Dream Orphans';
	font-size: 47.6px;
	color:  white;
	text-align: center;
}

footer {
	height: 75px;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 2px solid black;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}

li {
	color: #FFFFFF;
	letter-spacing: 1px;
}

names {
	text-align: center;
	font-family: 'bodoni 72 smallcaps';
	font-size: 26px;
	margin-top: 15px;
}

slogan1, slogan2 {
	text-align: center;
	font-family: 'copperplate';
	vertical-align: middle;
	letter-spacing: 20;
}

slogan1 {
	font-size: 48px;
}

slogan2 {
	font-size: 100px;
	text-decoration: underline;
}

/*CSS classes*/
.square {
  width: 275px;
  height: 275px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 65px;
  border-radius: 15px;
  background-color: #C33939;
  opacity: 0.55;
}

.mainscreen {
	height: 710px;
	width: 100%;
	margin-top: 53px;
	background-color: #F3F6FB;
	/*border: 2px solid black;*/
}

.container button{
	margin-top: 50px;
}

.squares {
	height: 800px;
	background-color: #F3F6FB;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.muselogo {
	margin-top: 15px;
}