!important body {
	background-color: #F3F6FB;
}

nav {
	height: 75px;
	background-color: #2B2A3B;
}

main {
	font-family: 'Dream Orphans';
	font-size: 47.6px;
	color:  white;
	text-align: center;
}

.square {
  width: 275px;
  height: 275px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 50px;
  border-radius: 15px;
  background-color: #C33939;
  opacity: 0.55;
}

.mainscreen {
	height: 730px;
}

!important .row {
	height: 157px;
}